.container2{
 
    margin-top: 5%;
    padding: 50px;
    background: linear-gradient(225deg, #b3c3f4 0%, #ddf3b0 100%);
    opacity: 0.9;
    width: 60% !important;
    border-radius: 20px;
}
.login{
    
}